/* TAREA 1. */
body {
    background-color: rgb(211, 211, 211);
}
.contenedor1{
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 30px;
}
.items-a {
    background-color: aqua;
    width: 100px;
    height: 100px;
    font-size: 30px;
}
.items-a:first-child {
    background-color: red;
}
.items-a:nth-child(even){
    background-color: blue;
}
.items-a:last-child{
    background-color: green;
}

/* TAREA 2. */
.contenedor2{
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
}
.items-b {
    background-color: aqua;
    width: 100px;
    height: 100px;
    font-size: 30px;
}
.items-b:first-child {
    background-color: green;
}
.items-b:nth-child(even){
    background-color: blue;
}
.items-b:last-child{
    background-color: red;
}

/* TAREA 3. */
.contenedor3{
    background-color: white;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}
.items-c {
    background-color: aqua;
    width: 150px;
    height: 150px;
    font-size: 30px;
    
}
.items-c:first-child{
    background-color: red;
}
.items-c:nth-child(even){
    background-color: blue;
}
.items-c:last-child{
    background-color: green;
}